<form (ngSubmit)="onSubmit()" #userform="ngForm">

    <div>
        <input placeholder="Name"       [(ngModel)]="user.name"     name="name" type="text"     class="form-control my-2"
        required #name="ngModel">
        @if(name.invalid && ( name.dirty || name.touched)) {
            @if(name.errors!['required']) {
                <div class="text-danger">
                    <p class="mb-0">Rellena el campo nombre</p>
                </div>
            }
            
        }
    </div>

    <div>
        <input placeholder="Last name"  [(ngModel)]="user.lastname" name="lastname" type="text"     class="form-control my-2"
        required #lastname="ngModel">
        @if(lastname.invalid && ( lastname.dirty || lastname.touched)) {
            @if(lastname.errors!['required']) {
                <div class="text-danger" >
                    <p class="mb-0">Rellena el campo apellido</p>
                </div>
            }
            
        }
    </div>

    <div>
        <input placeholder="Email"      [(ngModel)]="user.email"    name="email" type="email"    class="form-control my-2"
        required #email="ngModel" email>
        @if(email.invalid && ( name.dirty || email.touched)) {
            @if(email.errors!['required']) {
                <div class="text-danger" >
                    <p class="mb-0">Rellena el campo de correo</p>
                </div>
            }
            @if(email.errors!['email']) {
                <div class="text-danger" >
                    <p class="mb-0">Tienes que ingresar un correo valido</p>
                </div>
            }
        }
    </div>

    <div>
        <input placeholder="User name"  [(ngModel)]="user.username" name="username" type="text"     class="form-control my-2"
        required #username="ngModel">
        @if(username.invalid && ( name.dirty || username.touched)) {
            @if(username.errors!['required']) {
                <div class="text-danger" >
                    <p class="mb-0">Rellena el campo nombre de usuario</p>
                </div>
            }
        }
    </div>

    <div>
        <input placeholder="Password"   [(ngModel)]="user.password" name="password" type="password" class="form-control my-2"
        required #password="ngModel" maxlength="6">
        @if(password.invalid && ( name.dirty || password.touched)) {
            @if(password.errors!['required']) {
                <div class="text-danger">
                    <p class="mb-0">Rellena el campo contraseña</p>
                </div>
            }
            @if(password.errors!['minlength']) {
                Como minimo agrega 6 letras
            }
            
        }
    </div> 
    <div>
        <button class="btn btn-primary my-2" type="submit" [disabled]="userform.invalid">
            New user
        </button>
    </div>
</form>